.popup {    
    margin-right: 80%;
    margin-bottom: 10%;
    position: absolute;
    top: 260px;
    
}

.popup-form{
    margin-left: 70%;
    margin-top: -25%;
}

.popup-list {
    margin-top: -1%;
    width: 40%;
    height: 50%;
    margin-left: 28%;
}

.ui.mini.brown.button {
    margin-left: 30%;
    
    
    
}

.popup-btn{
    margin-top: 15%;
    margin-left: 43%;
}

.ui.mini.yellow.button{
    margin-left: -2%;
    margin-top: 55%;
    
}